# these should all work for python==3.7 and maybe 3.6 (except pyqt4)
# AIML-Bot>=0.0.3,<0.1.0  # requirements-3.6.txt
annoy
coverage
cufflinks
cython
future
gensim
html2text
jupyter
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
MechanicalSoup
nltk
numpy<2.0,>=1.15.0
opencv-python
pathlib
pillow
pip
plac<1.0.0,>=0.9.6
plotly<4.0.0a0,>=3.0.0
plyfile
# pugnlp
pytest
pytest
python-levenshtein
qtconsole
redis
scikit-learn
scipy
seaborn
setuptools
spacy
tensorflow
tensorflow-hub
theano
tqdm
wheel
